@import "./constants";
@import "./fonts";
@import "./null";
@import "./mixins";
@import "./placeholder";
@import "./icons";
@import "./layouts/wrapper";
@import "./layouts/header";
@import "./layouts/columns";
@import "./components/preview";
@import "./components/slider";
@import "./components/travel";



@font-face {
    font-family: "Aleo-Regular";
    font-weight: 400;
    font-style: normal;
    src: local("Aleo Regular"), local("Aleo-Regular"),
    url("../../app/fonts/Aleo-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Aleo-Bold";
    font-weight: 700;
    font-style: normal;
    src: local("Aleo"), local("Aleo-Regular"),
    url("../../app/fonts/Aleo-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "RedHatText";
    font-weight: 500;
    font-style: normal;
    src: local("RedHatText"), local("RedHatText Medium"), local("RedHatText-Medium"),
    url("../../app/fonts/RedHatText-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Magra-Bold";
    font-weight: 700;
    font-style: normal;
    src: local("Magra Bold"), local("Magra-Bold"), 
    url("../../app/fonts/Magra-Bold.ttf") format("truetype");
}
html{
    font-size: 10px;
}
body{
    font-size: 2rem;
    font-family: "Aleo", Verdana, sans-serif;
    font-weight: 400;
    color: $color-brand;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.ibg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    img{
        display: none;
    }
}
.button{
    background-color: $color-brand;
    font-family: "RedHatText";
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    border-color: transparent;
    text-align: center;
    padding: 10px 30px;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    }
}
.title{
    color: $color-title;
    font-size: 4rem;
    line-height: 5.2rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "RedHatText";
}
.page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.main-screen{
    flex: 1 0 100%;
    position: relative;
    &__background{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.steps__title{
    margin: 80px 0 40px 0;
}
.steps__column >*:not(:last-child){
    margin-bottom: 30px;
}
.destination__title{
    margin: 97px 0 46px 0;
}


