.slider-block, .slider{
    width: 1440px;
    //height: 100%;
    overflow: hidden;
    margin: 0 auto;
    @include media-tablet{
        width: 360px;
        overflow: hidden;
    }
}
.slider__wrapper{
    position: relative;
    display: flex;
    width: 300%;
    left: -40%;
    
    @include media-tablet{
        left:0;
    }
    
}
.slider__item{
    max-width: 800px;
    position: relative;
    img{
        border-radius: 16px;
        max-width: 100%;
        object-fit: cover;
        @include media-tablet{
            height: 210px;
            width: 360px;
    
        }
    }
    
}
.slider__name{
    position: absolute;
    left: 5%;
    top: 90%;
    text-transform: uppercase;
    font-size: 3.2rem;
    font-family: 'RedHatText';
    color: $color-white;
    cursor:pointer;
    @include media-tablet{
        font-size: 2rem;
        top: 10%;

    }
}

.slider__item:not(:last-child){
    margin-right: 60px;
    @include media-tablet{
        margin-right: 0;
    }
}

.slider__navigation{
    position: relative;
    margin: 24px 0 40px 0;
    display: flex;
    justify-content: center;
}
.navigation_bar, .navigation__dots{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor:pointer;
    background-color: $color-title;
    opacity: 0.5;
    border-radius: 100%;
    &:hover{
        opacity: 1;
        transform: scale(1.1);
    }
    @include media-tablet{
        width: 7px;
        height: 7px;
    }
    
}
.navigation__dots_active{
    opacity: 1;
}
input[name="slider"] {
    position: absolute;
    visibility: hidden;
}
.slider__buttons{
    display: flex;
    justify-content: space-evenly
}
.slider__button{
    background-image: url(../../images/arrowSlider.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.slider__button_prev{
    transform: rotate(-180deg);
}
.slider__button._off{
    opacity: 50%;

}
